@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-size: 18pt;
  margin: 0;
  padding: 0;
  background: aliceblue;
}

.border {
  border: solid 10px rebeccapurple;
}

.parent {
  display: flex;

  flex-wrap: wrap;
  justify-content: start;
  align-items: start;

  min-height: 500px;
}

.child {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.oldest {
  background: cadetblue;
  align-self: stretch;
}

.peace {
  background: pink;
}

.rebel {
  background: darkmagenta;
}

.fav {
  background: darkgreen;
}
